.aboutContainer {
  margin-top: 1rem;
}

.aboutContainer div {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: auto 2rem;
}

.aboutContainer img {
  justify-self: center;
}

.aboutContainer p {
  margin-bottom: 0;
}

.subSection {
  margin-bottom: 1rem;
}