.contactList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 50px) auto;
  justify-content: end;
  align-items: center;
  grid-gap: 10px;
  margin: 5px;
}

.contactList img {
  width: 50px;
}

@media (max-width: 480px) {
  .phoneNumberLink > span {
    display: none;
  }
}

@media (min-width: 481px) {
  .phoneNumberLink > img {
    display: none;
  }
}